*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  background-color: black;
  width: fit-content;
  overflow: hidden;
}

  .controls {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
  }
  .controls button {
    padding: 8px 16px;
    margin-right: 8px;
    font-size: 16px;
    cursor: pointer;
  }